source https://api.nuget.org/v3/index.json

nuget FSharp.Compiler.Tools
nuget Nuget.CommandLine
nuget FAKE = 4.64.18
nuget FSharp.Formatting
// git http://github.com/fsprojects/FSharp.Formatting.git master
nuget FSharp.Core  redirects:force
nuget RazorEngine
nuget NUnit = 2.6.4
nuget NUnit.Runners = 2.6.4
nuget SourceLink.Fake
nuget System.Data.SqlClient

group Standard
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget System.Data.OleDb
    nuget System.Runtime
    nuget System.Runtime.Loader
    nuget System.Runtime.Serialization.Primitives
    nuget System.Runtime.Serialization.Formatters
    nuget System.IO
    nuget System.Console
    nuget System.Reflection
    nuget System.Reflection.TypeExtensions
    nuget System.Data.SqlClient
    nuget System.Data.Common
    nuget System.Data.Odbc
	nuget Microsoft.Data.SQLite
	nuget FSharp.Compiler.Service

github fsharp/FAKE modules/Octokit/Octokit.fsx

group SourceFiles
    source https://api.nuget.org/v3/index.json

    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
    github Thorium/Linq.Expression.Optimizer src/Code/ExpressionOptimizer.fs

group Scripts
    source https://api.nuget.org/v3/index.json

    nuget MySql.Data < 7.0.0
    nuget MySqlConnector
    nuget Newtonsoft.Json
    nuget Npgsql
    nuget Oracle.ManagedDataAccess
    nuget FirebirdSql.Data.FirebirdClient
    nuget System.Data.SQLite.Core
    nuget System.Data.SQLite.Linq
    // nuget Microsoft.Data.Sqlite.Core.Backport // Needed if we want currently Core support on Linux.


